
#!ls

#!pip install pubmed2pdf
#!pip install keybert
from fstrings import f
#!pip install textract
#!pip install nltk

#nltk.download('punkt')
#import textract
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
#!pip install tika 
#!pip install tika-app
from nltk import sent_tokenize
import pandas 
import json
import os
import nltk.data
from nltk import sent_tokenize
#!pip3 install --quiet "tensorflow>=1.7"
# Install TF-Hub.
#!pip3 install --quiet tensorflow-hub
#!pip3 install --quiet seaborn
#!pip3 install --quiet chainer
#!pip3 install --quiet net ##did not work
import pandas 
import tensorflow as tf
import tensorflow_hub as hub
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import re
import seaborn as sns
import numpy as np
from chainer import Variable, optimizers
#from sklearn.cross_validation import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
import nltk

nltk.download('punkt')
from keras import backend
from keras.layers import Activation, Dense, Input, Subtract
from keras.models import Model

from absl import logging

#import tensorflow as tf
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
import tensorflow_hub as hub
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import re
import seaborn as sns

module_url = "https://tfhub.dev/google/universal-sentence-encoder/4" #@param ["https://tfhub.dev/google/universal-sentence-encoder/4", "https://tfhub.dev/google/universal-sentence-encoder-large/5"]
model = hub.load(module_url)
from scipy.spatial.distance import directed_hausdorff
import numpy as np
import json
#print('messages',messages)
print(message_embeddings.shape)

print(message_embeddings)
import matplotlib.pyplot as plt
import numpy as np

